<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="GHToken" value=""/>
        <add key="GHUsername" value="dragonfruitnet"/>
        <add key="GHRepo" value="onionfruit"/>

        <add key="VPKId" value="onionfruit"/>
        <add key="VPKIcon" value="DragonFruit.OnionFruit/Assets/icon.ico"/>

        <!-- <add key="CodeSignCert" value=""/>-->
        <!-- <add key="CodeSignPassword" value=""/>-->

        <add key="SolutionName" value="DragonFruit.OnionFruit.sln"/>
    </appSettings>
</configuration>