<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!-- if true, the staging directory will need to contain the files and entrypoint for the package -->
    <SkipBuild>false</SkipBuild>
    <SolutionName>DragonFruit.OnionFruit.sln</SolutionName>
    <GitHub>
        <User></User>
        <Repo></Repo>
        <Token></Token>
    </GitHub>
    <Velopack>
        <Enabled>true</Enabled>
        <PackageId></PackageId>
    </Velopack>
    <Windows>
        <Sign>
            <!-- each child element is treated as a signing cert entry -->
            <!-- first cert = primary signature, subsequent certs use /as (append signature) -->
            <Certificate>
                <File></File>
                <Password></Password>
            </Certificate>
            <Certificate2>
                <File></File>
                <Password></Password>
            </Certificate2>
        </Sign>
        <PackageIcon></PackageIcon>
    </Windows>
    <MacOS>
        <InfoPlist>Info.plist</InfoPlist>
        <EntitlementsPlist>app.entitlements</EntitlementsPlist>
        <IconsDirectory></IconsDirectory>

        <launchd>
            <!-- nodes accept either a folder or a single file -->
            <LaunchAgents></LaunchAgents>
            <LaunchDaemons></LaunchDaemons>
        </launchd>

        <!-- requires the create-dmg script installed (brew install create-dmg) -->
        <CreateInstallDMG>true</CreateInstallDMG>
        <CodeSigningIdentity>-</CodeSigningIdentity>
        <NotaryKeychainProfile></NotaryKeychainProfile>
    </MacOS>
</configuration>