<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!-- if true, the staging directory will need to contain the files and entrypoint for the package -->
    <SkipBuild>false</SkipBuild>
    <SolutionName>DragonFruit.OnionFruit.sln</SolutionName>
    <GitHub>
        <User>dragonfruitnetwork</User>
        <Repo>onionfruit</Repo>
        <Token></Token>
    </GitHub>
    <Velopack>
        <PackageId>onionfruit</PackageId>
        <PackageIcon>DragonFruit.OnionFruit/Assets/icon.ico</PackageIcon>
    </Velopack>
    <CodeSign>
        <Certificate></Certificate>
        <Password></Password>
    </CodeSign>
</configuration>